<section>
  <div>
    <%= image_tag("static/wallist_logo.svg", alt: "Wallist") %>
  </div>
</section>

<section>
  <%= link_to "Log In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_session_path %>
</section>