#menu-toggle
{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  right: 0;
  padding: 1em;;
  
  z-index: 2;
  
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--main-color);
}

#menu-toggle a
{
  text-decoration: none;
  color: white;
  font-weight: lighter;
  transition: color 0.3s ease;
}

#menu-toggle a:hover {
  font-weight: normal;
}


#menu-toggle input
{
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menu-toggle .back-button span:nth-child(2) {
  width: 1.5em;
}

#menu-toggle .back-button span:nth-child(1) {
  width: 1em;
  transform: translateX(-0.05em) translateY(0.66em) rotate(-45deg);
}

#menu-toggle .back-button span:nth-child(3) {
  width: 1em;
  transform: translateX(0.05em) translateY(-0.4em) rotate(45deg);
}

#menu-toggle label {
  position: relative;
  z-index: 3;
}

#menu-toggle span {
  position: relative;
  display: block;
  width: 2em;
  height: 4px;
  margin-bottom: 5px;
  z-index: 4;
  
  background: white;
  border-radius: 3px;

  transform-origin: 4px 0px;
}

#menu-toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menu-toggle label span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menu {
  position: fixed;
  width: calc(100% + 1em);
  height: 100vh;
  margin: -1em 0 0 0;
  padding: 2em;
  
  background: var(--main-color);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-120%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu-toggle input:checked ~ ul
{
  transform: translateX(1em);
}

#menu-toggle form button[type=submit] {
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  margin-top: 2em;
  font-size: 1em;
  background-color: var(--main-color-active);
  color: #eee;
}

#menu-toggle form button[type=submit]:hover {
  transform: scale(1.04);
  cursor: pointer;
}

#menu-toggle form button[type=submit]:active {
  transform: scale(0.98);
}

#menu-toggle .nav-title {
  flex-grow: 1;
  text-align: center;
}

#menu-toggle .nav-title h2 {
  color: white;
  font-size: 1em;
}
